body{
    background-image:linear-gradient(to bottom right,#5667dd,#5ecbf7);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 
html{
    color:#141414;
}
.conteiner{
    background-color: white;
    border-radius: 10px 30px;
    padding:15px 20px;
    width:50%;
    margin:15% auto;
    text-align: center;
}
.sub-conteiner .conteiner-input input{
    padding:10px;
    outline: none;
    width:50%;
}
.sub-conteiner .conteiner-input{
    margin-bottom:25px;
}
.sub-conteiner .conteiner-button button{
    margin-left: 10px;
    border:none;
    outline: none;
    padding:15px 8px;
    outline: none;
    margin-top:10px;
    color:#ffff;
}
.conteiner-button button.resultado-btn{
    background-color:#5667dd;
}
.conteiner-button button.tabuada-btn{
    background-color:#5ecbf7;
}
.sub-conteiner .conteiner-button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sub-conteiner section h3{
    font-size: 0.9em;
    font-weight: 10;
}
.sub-conteiner .result-div p{
    font-size: 0.9em;
    padding:20px;
}
/* tabuada */
.tabuada table{
    margin:0 auto;
    padding:10px;
}